.version.index /* version checker */
{
	color: #0000FE;
	background-color: #1A076C;
}

.html
{
	background-color: #202124;
}

#page
{
	z-index: 1;
	width: 284px;
	min-height: 297.59999999999997px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 330px 197.40000000000003px 346px;
}

#u76
{
	z-index: 9;
	width: 201px;
	margin-left: 34px;
	position: relative;
}

#pu74-4
{
	width: 0.01px;
	margin-top: 23px;
}

#u74-4
{
	font-family: 'Red Hat Text', sans-serif;
	z-index: 2;
	width: 267px;
	min-height: 30px;
	background-color: transparent;
	color: #F0F8FF;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u75-3
{
	z-index: 6;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 279px;
}

#pbuttonu119
{
	width: 0.01px;
	margin-left: 34px;
	margin-top: 14px;
}

#buttonu119
{
	z-index: 16;
	width: 94px;
	border-color: #787878;
	background-color: #F0F8FF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#buttonu119:hover
{
	background-color: #545454;
	margin: 0px -10000px 0px 0px;
}

#buttonu119.ButtonSelected
{
	background-color: #F0F8FF;
	margin: 0px -10000px 0px 0px;
}

#u121-4
{
	z-index: 17;
	width: 74px;
	min-height: 21px;
	background-color: transparent;
	color: #3C3C3C;
	letter-spacing: 1px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#buttonu119:hover #u121-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
}

#buttonu119:hover #u121-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu116
{
	z-index: 11;
	width: 94px;
	border-color: #787878;
	background-color: #F0F8FF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 107px;
}

#buttonu116:hover
{
	background-color: #545454;
	margin: 0px -10000px 0px 0px;
}

#u117-4
{
	z-index: 12;
	width: 74px;
	min-height: 21px;
	background-color: transparent;
	color: #3C3C3C;
	letter-spacing: 1px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#buttonu119.ButtonSelected #u121-4,#buttonu116:hover #u117-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
}

#buttonu116.ButtonSelected #u117-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
}

#buttonu116:hover #u117-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu119.ButtonSelected #u121-4 p,#buttonu116.ButtonSelected #u117-4 p
{
	color: #3C3C3C;
	visibility: inherit;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

