.version.projects /* version checker */
{
	color: #0000FA;
	background-color: #614506;
}

.html
{
	background-color: #202124;
}

#page
{
	z-index: 1;
	width: 209px;
	min-height: 38px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 375px 442px 376px;
}

#u89-4
{
	z-index: 2;
	width: 209px;
	min-height: 38px;
	color: #F0F8FF;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	left: -1px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

