.version.vocaloid_stuff /* version checker */
{
	color: #000016;
	background-color: #6340DF;
}

.html
{
	background-color: #202124;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 142px;
	padding-bottom: 358px;
	margin-left: auto;
	margin-right: auto;
}

#u169-3
{
	z-index: 5;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 78px;
	left: 126px;
}

#u168-3
{
	z-index: 2;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 125px;
	left: 131px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

